* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

body {

    background-image: linear-gradient('rgba(0, 0, 0, 0.5'), ('rgba(0, 0, 0, 0.5');
    background-image: url('img/fundo.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
    color: white;
}

.starbucks {
    width: 340px;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixa-texto {
    width: 600px;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900px;
}

p {
    font-size: 16px;
    color: #ffffff
}

button {
    background: #017143;
    color: #fff;
    border-radius: 40px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 1s;
}

button:hover {
    background: #00520f;
}

.imagem {
    width: 340px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
}



.menu {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.botao-menu {
    width: 60px;
    cursor: pointer;
    transition: 0.5s
}

.botao-menu:hover {
    transform: translateY(-20px);
}

.imagem-copo {
    width: 340px;
}

.circulo {
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(700px at right 800px);
    z-index: -1;
}
